.nav-link {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-right: 15px;
  }
  
  .nav-link:hover {
    color: #ffffff;
    background-color: #007bff;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link.active {
    color: #ffffff;
    background-color: #007bff;
    transition-delay: 0.1s; /* Add a slight delay to font weight change */
    font-weight: bold;
    transform: scale(1.1);
  }
  
  .nav-link:active {
    background-color: #0056b3; /* Slightly darker background when clicked */
    transform: scale(0.95); /* Slightly scale down when clicked */
  }
  