/* HoverCards.css */
.container {
  margin-top: 20px;
}

.info-title-content {
  margin-bottom: 10px; /* Reduce margin-bottom */
}

.info-title {
  font-size: 24px;
  /* margin-bottom: 10px; */
}

.info-description {
  font-size: 16px;
  margin-top: 23px;
  margin-bottom:24px
}

.card-container {
  transition: all 0.3s ease;
  margin-bottom: 10px;
  margin-top: 10px; 
}

.card-container:hover {
  z-index: 10;
}

.card {
  transition: all 0.3s ease;
  border: none;
  border-radius: 0;
  /* padding: 10px; Added padding to the card for a tighter layout */
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: left;
  /* padding: 10px; Reduced padding */
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  /* margin-bottom: 5px; Reduced margin */
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
  /* margin-bottom: 5px; Reduced margin */
}

.custom-button {
  background-color: #007bff;
  border: 2px solid #007bff;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 20px;
  display: none;
  /* margin-top: 5px; Reduced margin */
}

.card:hover .custom-button {
  display: inline-block;
}

.custom-button:hover {
  background-color: transparent;
  color: #007bff;
}

.title-text {
  position: relative;
  display: inline-block;
  margin-top: -50px;
}

.orange {
  color: #007bff;
  font-size: 46px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.blue {
  color: #E2805F;
  font-size: 46px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  letter-spacing: 2px;
}


.title-text span {
  margin-right: 7px; /* Adjust the spacing as needed */
}

.title-text span:last-child {
  margin-right: 0; /* Remove margin from the last span */
}